<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Kalpesh Kandi</mat-card-title>
    <mat-card-subtitle>Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/kalpesh.jpeg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      This application is developed by Kalpesh Kandi.
    </p>


  </mat-card-content>

  <mat-card-footer>
    <p style="justify-self: auto;">
          Follow me on
    </p>
    <a href="https://instagram.com/sprinkelcell_98"><img class="img" src="assets/images/insta.ico"></a>
    <a href="https://github.com/sprinkelcell"><img class="img" src="assets/images/github.ico"></a>
    <a href="https://linkedin.com/in/kalpeshkandi"><img class="img" src="assets/images/linkdin.ico"></a>
  </mat-card-footer>
</mat-card>